.h-container{
    width: 1100px;
    margin: 0 auto;
    padding:16px 80px;

}
.h-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.h-flex img{
    139px;
}

.h-link{
    display: flex;
    gap:32px;
    list-style: none;
}
.h-link a{
    text-decoration: none;
    color: var(#000000);

}
.btn{
    border-radius: 4px;
    padding: 12px;
    background-color:;
    border:0px;
    font-size: 16px;
    
    background-color:#30B868 ;
    font-weight: 600;

}
.btn1{
    border-radius: 4px;
    padding: 12px;
    border:0px;
    font-size: 16px;
    color:rgba(255, 255, 255, 1); 
    font-weight: 600;
    background:none;
    border: 1px solid rgba(255, 255, 255, 1);

}
.btn2{
    
    padding: 12px;
    border-radius: 1000px;
     background-color: rgba(255, 255, 255, 1);
    border:0px;
   color:#30B868;

   

}
.hero-section{
    background-image: url(./assets/hero-bg.png);
    height:474px;
    position: relative;
    margin:0px;
    
    padding: 70px 120px;
    
    
}
.hero-container{
   padding:95px 150px;
    align-items: center;
    margin:0 auto;
    text-align: center;
    max-width: 770px;
    


}
.note1{
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    color:rgba(255, 255, 255, 1);

}
.note2{
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    color:rgba(48, 184, 104, 1);

}
.private{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
    margin-bottom: 32px;
    margin-top: 16px;

}









