
.h-container{
    width: 1130px;
    margin: 0 auto;
    padding:16px 80px;

}
.h-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.h-flex img{
    139px;
}

.h-link{
    display: flex;
    gap:32px;
    list-style: none;
}
.h-link a{
    text-decoration: none;
    color: var(--#000000, rgba(0, 0, 0, 1));

}
.btn{
    border-radius: 4px;
    padding: 12px;
    background-color: #30B868;
    border:0px;
    font-size: 16px;
    color:rgba(255, 255, 255, 1); 
    font-weight: 600;

}

