.h-container{
    width: 1100px;
    margin: 0 auto;
    padding:16px 80px;

}

.h-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.h-flex img{
    139px;
}

.h-link{
    display: flex;
    gap:32px;
    list-style: none;
}
.h-link a{
    text-decoration: none;
    color: var(#000000);

}
.btn{
    border-radius: 4px;
    padding: 12px;
    color: rgba(255, 255, 255, 1);

    border:0px;
    font-size: 16px;
    
    background-color:#30B868 ;
    font-weight: 600;
    cursor:pointer;

}
.btn:hover{
    background-color: darkblue;

}
.btn1{
    border-radius: 4px;
    padding: 12px;
    border:0px;
    font-size: 16px;
    color:rgba(255, 255, 255, 1); 
    font-weight: 600;
    background:none;
    border: 1px solid rgba(255, 255, 255, 1);
    margin-left: 20px;
    cursor:pointer;
    

}
.btn1:hover{
    background-color: darkblue;

}

.btn2{
    
    padding: 12px;
    border-radius: 1000px;
     background-color: rgba(255, 255, 255, 1);
    border:0px;
   color:#30B868;
   cursor:pointer;

   

}
.btn2:hover{
    background-color: darkblue;

}
.hero-section{
    background-image: url(./assets/hero-bg.png);
    height:474px;
    position: relative;
    margin:0px;
    
    padding: 70px 120px;
    
    
}
.hero-container{
   padding:95px 150px;
    align-items: center;
    margin:0 auto;
    text-align: center;
    max-width: 770px;
    


}
.note1{
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    color:rgba(255, 255, 255, 1);

}
.note2{
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    color:rgba(48, 184, 104, 1);

}
.private{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
    margin-bottom: 32px;
    margin-top: 16px;


}
.note-section .note-container{
    max-width: 1100px;
    margin: 0 auto;
    padding-left:  80px;
    padding-right: 80px;

}
.note-container .note-heading h2{
    padding-top:80px ;
    text-align: center;
    max-width: 1100px;
    font-size: 48px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;

}
.note-container .note-heading p{
    color:#627382;
    text-align: center;
}

.note-container .card-flex{
    display:flex;
    gap: 24px;

}
.card-flex .card img{
    background-color: rgba(249, 85, 85, 1);
    max-width: 36px;
    border-radius: 50%;
    padding: 10px;
    margin-left:80px ;
    margin-right: 80px;
    margin-bottom: 16px;
    
    
}
.card-flex .card{
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.121);
     background-color: rgba(255, 255, 255, 1);
    max-width: 322px;
}
.card-flex .card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    text-align: center;
    margin-bottom: 16px;
}
.card-flex .card p{
    text-align: center;
    line-height: 20px;
    color: #627382;
    margin-bottom: 50px;

}
.brain-section .brain-container{
    padding:80px;
    display: flex;
    gap:60px;

}
.brain-container img{
    max-width: 400px;
    border-radius: 12px;

}
.brain-container .brain-container2{
    max-width: 415px;
    margin-right:165px ;
}
.brain-container .brain-heading h6{
     color:#30B868;
     text-align: left;
     margin-top: 25px;
     

}
.brain-container .brain-heading h1{
    font-size:43px ;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.brain-container2 .brain-heading p{
    color:#627382;
    font-size: 14px;
}
.brain-container2 .p{
    margin-bottom: 10px;
}
.brain-container2 .circle{
    display: flex;
}
.think-section {
    padding:80px 40px;
    max-width: 1100px;
    background-color: #FFF8F3;
    margin-left:80px;
    margin-right:80px;
    border-radius:12px;
    text-align:center;
    
}
 .think-section .think-container{
   padding-top: 50px;
   margin: 0 auto;
   padding-bottom: 50px;
   
}
.think-container h1{
    color: rgba(0, 25, 49, 1);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 12px;
 

}
.think-container p{
    color:rgba(98, 115, 130, 1);
    margin-bottom: 24px;

}
.footer-section{
    background-color: rgba(0, 25, 49, 1);
    margin-top: 80px;
    width: 100%;
}
.footer-section .footer-container{
    width: 1100px;
    margin: 0 auto;
    padding:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-container .footer-flex1 img{
    width: 150px;
}
.footer-container .footer-flex2 img{
    width: 20px;
    border-radius: 50%;
    padding: 4px;

    
}
.footer-container .footer-flex2 p{
    color:azure;
}










